In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Handele categorical Feature

# 1. One hot encoding

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/titanic.csv', usecols=['Sex'])
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [5]:
pd.get_dummies(df, drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/titanic.csv', usecols=['Embarked'])
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [7]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [8]:
df.dropna(inplace=True)

In [9]:
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [10]:
pd.get_dummies(df, drop_first=True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

In [14]:
## one hot encoding with many categories in a features

In [19]:
df1 = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/mercedes.csv', usecols=["X0","X1","X2","X3","X4","X5","X6"])
df1.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [28]:
for i in df1.columns:
    print(len(df1[i].unique()))

47
27
44
7
4
29
12

In [32]:
df1.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [33]:
lst_10 = df1.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10 = list(lst_10)

In [34]:
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [35]:
for categories in lst_10:
    df[categories]=np.where(df['X1']==categories,1,0)

In [36]:
lst_10.append('X1')

In [37]:
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]

# Ordinal Number Encoding

In [38]:
import datetime

In [47]:
today_date=datetime.datetime.today()

In [48]:
today_date

datetime.datetime(2021, 7, 27, 18, 33, 14, 641639)

In [49]:
today_date-datetime.timedelta(3)

datetime.datetime(2021, 7, 24, 18, 33, 14, 641639)

In [50]:
#### List Comprehension
days=[today_date-datetime.timedelta(x) for x in range(0,15)]

In [51]:
data=pd.DataFrame(days)
data.columns=["Day"]

In [52]:
data.head()

                         Day
0 2021-07-27 18:33:14.641639
1 2021-07-26 18:33:14.641639
2 2021-07-25 18:33:14.641639
3 2021-07-24 18:33:14.641639
4 2021-07-23 18:33:14.641639

In [53]:
data['Day'].dt.minute

0     33
1     33
2     33
3     33
4     33
5     33
6     33
7     33
8     33
9     33
10    33
11    33
12    33
13    33
14    33
Name: Day, dtype: int64

In [55]:
data['weekday']=data['Day'].dt.weekday_name

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [58]:
data['weekday']=data['Day'].dt.weekday_name
data.head()

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'